
.Statistics {
    position: relative;
    //height: 100vh;
    height: 100vh;
    width: 100%;
    background-color: rgb(238,238,238);
    padding: 50px 0 0 70px;
    box-sizing: border-box;
    display: flex;


    @media screen and (max-width: 1200px) {
        padding: 50px 0 0 30px;
      }

    @media screen and (max-width: 900px) {
        padding: 50px 15px 30px 15px;
       flex-direction: column;
       height: max-content;
    }

    @media screen and (max-width: 600px) {
        padding: 20px 15px 30px 15px;
    }
}

// ** GAMES PLAYED ** 
.GamesPlayed {
    @include boxes-style;
   
    @include statistic-holder-style;

    display: flex;
    flex-direction: column;

    @media screen and (max-width: 600px) {
        display: grid;
        grid-template-rows: repeat(3, max-content);
      }

    &-statistic {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        //background-color: rgb(95, 80, 80);

        @media screen and (max-width: 600px) {
           height: max-content;
           order: 0;
          }
    }

    &-win-lose-holder {
      margin-top: 20%;
      //background-color: rgb(156, 111, 111);

      @media screen and (max-width: 600px) {
        margin-top: 20px;
      }
    }

    &-analyitics {
       // background-color: rgb(120, 126, 120);
        height: 100%;
       @include flex-center;

       @media screen and (max-width: 600px) {
        margin: 20px 0 20px 0;
       }
    }
}

.MoneyStatistics {
    @include boxes-style;
    margin-left: 30px;
   
    @include statistic-holder-style;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 900px) {
        margin-left: 0;
        margin-top: 15px;
     }

    &-money-holder {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

}

.UserStatistics {
    @include boxes-style;
    margin-left: 30px;

    @include statistic-holder-style;
    display: flex; 
    flex-direction: column;

    @media screen and (max-width: 900px) {
        margin-left: 0;
        margin-top: 15px;
     }

    &-header-holder {
        //background-color: red;

        & p {
            color: rgb(39, 38, 38);
            font-weight: 700;
        }
    }

    &-stat-holder {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}

